@model List<TabelaPrecoModel>

@{
    ViewData["Title"] = "Tabela de Preços";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">Preço Por Hora</th>
            <th scope="col">Valor Hora Adicional</th>
            <th scope="col">Minutos de Tolerância</th>
            <th scope="col">Início da Vigência</th>
            <th scope="col">Final da Vigência</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var tabelaPreco in Model)
            {
                <tr class="text-center">
                    <td>@tabelaPreco.Id</td>
                    <td>R$ @tabelaPreco.PrecoPorHora</td>
                    <td>R$ @tabelaPreco.ValorHoraAdicional</td>
                    <td>@tabelaPreco.MinutoTolerancia min</td>
                    <td>@tabelaPreco.InicioVigencia.ToShortDateString()</td>
                    <td>@tabelaPreco.FinalVigencia.ToShortDateString()</td>
                    <td>
                        <form asp-controller="Tabela" asp-action="Delete" asp-route-id="@tabelaPreco.Id" method="post">
                            <button type="submit" class="btn btn-danger">Excluir</button>
                        </form>
                    </td>
                </tr>
            }

        }
        else
        {
            <tr>
                <td colspan="7" class="text-center">Nenhuma tabela de preços encontrada</td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-success" asp-controller="Tabela" asp-action="Adicionar">Adicionar Nova Tabela de Preços</a>
